body {
margin: 0; 
padding: 0;
font-family: 'Poppins', sans-serif;
}

.login{
    height: 100vh;
    background-image: url(./img/pixel-jeff-clipa-s.gif);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login__container {
    min-height: 400px;
    width: 300px;
    background: white;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login__title {
    margin-bottom: 32px;
    color: #303030;
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login__input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
    transition: .3s ease-in-out;
}

.login__input-border::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: linear-gradient(120deg, #e223be, #003096);
    transition: .3s ease-in-out;
}

.login__input:focus + .login__input-border::after {
    width: 100%;
}

.login__submit {
    height: 48px;
    width: 100%;
    padding-left: 8px;
    outline: none;
    position: relative;
    background: linear-gradient(120deg, #e223be, #003096, #e223be);
    background-size: 200%;
    margin-bottom: 32px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
}

.login__submit:hover {
    background-position: right;
}

.login__reset {
    font-size: 12px;
    color: #929292;
    text-decoration: none;
}